<%- include("partials/head.ejs") %>

<h1><%= about %></h1>

<% if (typeof error !== "undefined") { %>
    <div class="error-message">
        <%= error %>
    </div>
<% } %>

<form id="login-form" action="/api/usuarios" method="post" autocomplete="off">
    <label for="nombreUser">Nombre</label>
    <input type="text" name="nombre" id="nombreUser" required>

    <label for="emailUser">Email</label>
    <input type="email" name="email" id="emailUser" required>

    <label for="passwordUser">Password</label>
    <input type="password" name="contraseña" id="passwordUser" required>

    <input type="submit" class="boton-login" value="Crear">
</form>
<script src="js/crearUsuario.js"></script>
<%- include("partials/footer.ejs") %>
