<%- include("partials/head.ejs") %>

<article class="login">
<h1><%= about %></h1>

<% if (typeof error !== "undefined") { %>
    <div class="error-message">
        <%= error %>
    </div>
<% } %>

    <form id="login-form" action="/login" method="post" autocomplete="off">
        <label for="emailUser">Email</label>
        <input type="email" name="email" id="emailUser" required>
        
        <label for="passwordUser">Password</label>
        <input type="password" name="contraseña" id="passwordUser" required>

        <div class="botones">
            <input type="submit" class="boton-login" value="Login">
            <input type="button" id="acceso" class="boton-login" value="Acceso rápido">
        </div>
        <a class="texto-registrarse" href="./registrar"> ¿No tienes cuenta?</a>
    </form>
</article>

<script>
    let emailUser = document.getElementById("emailUser");
    let passwordUser = document.getElementById("passwordUser");

    let accesoRapido = document.getElementById("acceso");
    accesoRapido.addEventListener("click", () => {
        emailUser.value = "test@test.com";
        passwordUser.value = "test";
    });
</script>
<%- include("partials/footer.ejs") %>