<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

<body class="cuerpo-subir-img">
    <article class="contenedor-form">

        <form id="formularioSubida" class="contenedor-subida" enctype="multipart/form-data">
            
            <label id="zonaArrastre" class="zona-arrastre">
                <p class="texto-arrastre">
                    Arrastra un archivo aquí o <span>explora</span>
                </p>
                <p class="subtexto-arrastre">Tamaño máximo: 5MB</p>
                <input type="file" id="inputArchivo" name="imagen" />
            </label>
            
            <div class="vista-archivo" id="vistaArchivo">
                <div id="nombreArchivo">Archivo:</div>
                
                <div class="barra-progreso">
                    <div class="relleno-progreso" id="rellenoProgreso"></div>
                </div>
            </div>
            
            <button class="boton-subir" type="submit">Subir archivo</button>
        </form>
    </article>
    
    <script src="/js/subirImagen.js"></script>

<%- include("./partials/footer.ejs") %>
