.card-producto{
    border: 4px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
    width: 220px; /* agregado */
    padding: 10px;
    border-radius: 10px;
    background-color: darkslategray;
}



#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


.products-form {
    width: 35%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
}