
<header>
    <nav>
        <ul>
            <a href="/dashboard">
                <li>Ver</li>
            </a>
            <a href="/consultar">
                <li>Consultar id</li>
            </a>
            <a href="/crear">
                <li>Crear</li>
            </a>
            <a href="/modificar">
                <li>Modificar</li>
            </a>
            <a href="/eliminar">
                <li>Eliminar</li>
            </a>
            <a href="/upload">
                <li>Subir IMG</li>
            </a>
        </ul>
    </nav>

    <form action="/logout" method="POST" id="logout"></form>
    <input type="submit" value="Cerrar sesión">
</header>
<h1> <%= about %></h1>
<hr>