
<header>
    <nav>
        <ul>
            <a href="/dashboard">
                <li>Ver</li>
            </a>
            <a href="/productos/consultar">
                <li>Consultar id</li>
            </a>
            <a href="/productos/crear">
                <li>Crear</li>
            </a>
            <a href="/productos/modificar">
                <li>Modificar</li>
            </a>
            <a href="/productos/eliminar">
                <li>Eliminar</li>
            </a>
            <a href="/upload">
                <li>Subir IMG</li>
            </a>
            <a href="/registrar">
                <li>Crear Usuario</li>
            </a>
        </ul>
    </nav>

    <form action="/logout" method="POST" id="logout">
        <input type="submit" value="Cerrar sesión">
    </form>
</header>