<%- include("../partials/head.ejs") %>
<%- include("../partials/nav.ejs") %>

<main>
    <h1><%= about %></h1>
    <form id="crearProductos-form">
        <label for="nombreProd">Nombre</label>
        <input type="text" name="nombre" id="nombreProd" required>

        <label for="imagenProd">Imagen</label>
        <input type="text" name="img_url" id="imagenProd" required>

        <select class="selectores" name="categoria" id="categoriaProd" required>
            <option value="figura">Figura</option>
            <option value="sable">Sable</option>
        </select>

        <select class="selectores" name="activo" id="activoProd" required>
            <option value=1>Disponible</option>
            <option value=0>No disponible</option>
        </select>

        <label for="precioProd">Precio</label>
        <input type="number" name="precio" id="precioProd" required>

        <label for="stockProd">Cantidad</label>
        <input type="number" name="stock" id="stockProd" required>
        <!-- <br> -->

        <input class="input-hover" id="input-crear-producto-crearEjs" type="submit" value="Crear producto">
    </form>

    <div id="contenedor-productos"></div>
</main>
<script src="/js/crear.js"></script>
<%- include("../partials/footer.ejs") %>