<%- include("../partials/head.ejs") %>
<%- include("../partials/nav.ejs") %>

<main>
    <h1><%= about %></h1>
    <form id="crearProductos-form">
        <label for="nombreProd">Nombre</label>
        <input type="text" name="nombre" id="nombreProd" required>

        <label for="imagenProd">Imagen</label>
        <input type="text" name="img_url" id="imagenProd" required>

        <select name="categoria" id="categoriaProd" required>
            <option value="figura">Figura</option>
            <option value="sable">Sable</option>
        </select>

        <select name="activo" id="activoProd" required>
            <option value=1>Disponible</option>
            <option value=0>No disponible</option>
        </select>

        <label for="precioProd">Precio</label>
        <input type="number" name="precio" id="precioProd" required>
        <br>

        <label for="stockProd">Cantidad</label>
        <input type="number" name="stock" id="stockProd" required>
        <br>

        <input type="submit" value="Crear producto">
    </form>

    <div id="contenedor-productos"></div>
</main>
<script src="/js/crear.js"></script>
<%- include("../partials/footer.ejs") %>